## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

## Visual Studio
.vs/
.vscode/

## User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## .NET Core
project.lock.json
project.fragment.lock.json

## NuGet Packages
*.nupkg
*.snupkg
# NuGet Package folders
**/packages/*
!**/packages/build/
!**/packages/repositories.config

## MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

## xUnit
*.xunit.runner.json

## Code Coverage
coverage.*
*.coverage
*.coveragexml
*.codecoverage

## Logs
*.log

## MSBuild Binary Logs
*.binlog

## Crash Reports
crashlytics/

## Others
~$*
*~
